@font-face {
    font-family: Regular;
    src: url(../Fonts/PTSansNarrow-Regular.ttf);
}

:root {
    --light--background--color: #111111;
    --dark--background--color: #111111;
    --accent--text--color: #111111;
    --accent--color: #111111;
    --light--color: #111111;
    --dark--color: #111111;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Regular;
}
.Page {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 20px;
    width: 100%;
    height: 100%;
}
.Header--Container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Footer--Container {
    display: flex;
}