@font-face {
    font-family: Regular;
    src: url(../Fonts/PTSansNarrow-Regular.ttf);
}
:root {
    --background--color: #102238;
    --accent--text--color: #EA872C;
    --accent--color: #EA872C;
    --light--color: #ffffff;
    --dark--color: #111111;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Regular;
    background-color: var(--background--color);
    color: var(--light--color);
}
.Page {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 20px;
    width: 100%;
    height: 100%;
}
.Header--Container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Footer--Container {
    display: flex;
}